@use "functions" as fn;


/*

primary
secondary

monotones:
tone: grey / gray
tints: whites
shades: blacks

*/

/*

Webflow Media Query Format:

480max: phone portrait
768max: phone landscape

992max: tablet portrait
1280max: tablet landscape

1440max: laptop / default
1440min: desktop
1920min: Large Desktop

*/


/*

Em Convertion:

$mq-pphone: 30em;
$mq-lphone: 48em;

$mq-ptablet: 62em;
$mq-ltablet: 80em;

$mq-laptop: 90em;
$mq-desktop: 90em;
$mq-ldesktop: 120em;

*/





/* ~~~~~ Primary Colors ~~~~~ */

	$c-hue-primary: 202;
	$c-sat-primary: 41;
	$c-lum-primary: 70;

	$c-lprimary: hsl(
		$c-hue-primary,
		$c-sat-primary*1%,
		70%);
	$c-dprimary: hsl(
		$c-hue-primary,
		$c-sat-primary*1%,
		10%);


/* ~~~~~ Monotones ~~~~~ */

	$c-white: hsl(
		$c-hue-primary,
		$c-sat-primary*1%,
		90%);
	$c-grey: desaturate($c-lprimary,30%);
	$c-black: desaturate($c-dprimary,30%);



/* ~~~~~ Media Queries ~~~~~ */

	$mq-pphone: 30em;
	$mq-lphone: 48em;

	$mq-ptablet: 62em;
	$mq-ltablet: 80em;

	$mq-laptop: 80em;
	$mq-desktop: 90em;
	$mq-ldesktop: 120em;



/* ~~~~~ Media Queries ~~~~~ */
	
	$box-shadow: 0 0 4px rgba(black,.5), 0 4px 4px rgba(black,.5);


:root {

	/* ~~~~~ Colors ~~~~~ */
	--c-hue-primary: 202;
	--c-sat-primary: 41%;
	--c-lum-primary: 70%;
	

	--c-lprimary: hsl(var(--c-hue-primary),
		var(--c-sat-primary),
		var(--c-lum-primary));
	--c-dprimary: hsl(var(--c-hue-primary),
		var(--c-sat-primary),
		10%);


	--c-white: hsl(var(--c-hue-primary),
		var(--c-sat-primary),
		90%);
	--c-grey: desaturate(var(--c-lprimary),30%);
	--c-black: desaturate(var(--c-dprimary),30%);


	/* ~~~~~ Media Queries ~~~~~ */
	
	--mq-pphone: 30em;
	--mq-lphone: 42.375em;

	--mq-ptablet: 62em;
	--mq-ltablet: 80em;

	--mq-laptop: 90em;
	--mq-desktop: 90em;
	--mq-ldesktop: 120em;

}






/* ~~~~~ Exports ~~~~~ */


:export {

	/* Media Queries */

	mqPphone: fn.strip-unit($mq-pphone);
	mqLphone: fn.strip-unit($mq-lphone);
	mqPtablet: fn.strip-unit($mq-ptablet);
	mqLtablte: fn.strip-unit($mq-ltablet);

	mqLaptop: fn.strip-unit($mq-laptop);
	mqDesktop: fn.strip-unit($mq-desktop);
	mqLdsektop: fn.strip-unit($mq-ldesktop);


	/* Colors */

	clPrimary: $c-lprimary;
	cdPrimary: $c-dprimary;
	cWhite: $c-white;
	cBlack: $c-black;
	cGrey: $c-grey;
}





/* ~~~~~ ~~~~~ */
/* ~~~~~ ~~~~~ */
/* ~~~~~ ~~~~~ */
