@use "abstracts/abstracts" as abs;





.fade {
	&-enter-active, &-leave-active {
		transition: all .3s;
		transform: scale(1);
		opacity: 1;
	}

	&-enter-from, &-leave-to {
		transition: all .3s;
		transform: scale(.9);
	 	opacity: 0;
	}
}

.slide {
	&-enter-active, &-enter-leave { 
		animation: slide-in .3s ease-out forwards; 
		transition: opacity .3s ease-out;
		opacity: 1;
	} 

	&-enter-from, &-leave-to { 
		animation: slide-out .3s ease-out forwards; 
		transition: opacity .3s ease-out;
		opacity: 0;
	}
}

@keyframes slide-in {
	from { transform: translateY(20px); }
	to { transform: translateY(0); }
}
@keyframes slide-out {
	from { transform: translateY(0); }
	to { transform: translateY(20px); }
}	






