/* font sizes */

// headings
$fontsize-h1: 106px;
$fontsize-h2: 66px;
$fontsize-h3: 53px;
$fontsize-h4: 38px;
$fontsize-h5: 27px;
$fontsize-h6: 22px;

// subtitles
$fontsize-sub1: 18px;
$fontsize-sub1: 16px;

// body
$fontsize-body1: 16px;
$fontsize-body2: 14px;

// components
$fontsize-btn: 14px;
$fontsize-caption: 12px;
$fontsize-overline: 10px;


/* letter spacing */

// headings
$letterspacing-h1: -1.5px;
$letterspacing-h2: -.5px;
$letterspacing-h3: 0px;
$letterspacing-h4: .25px;
$letterspacing-h5: 0px;
$letterspacing-h6: .15px;

// subtitles
$letterspacing-sub1: .15px;
$letterspacing-sub1: .1px;

// body
$letterspacing-body1: .5px;
$letterspacing-body2: .25px;

// components
$letterspacing-btn: 1.25px;
$letterspacing-caption: .4px;
$letterspacing-overline: 1.5px;


/* font weight */

// headings
$fontweight-h1: '';
$fontweight-h2: '';
$fontweight-h3: '';
$fontweight-h4: '';
$fontweight-h5: '';
$fontweight-h6: '';

// subtitles
$fontweight-sub1: 400;
$fontweight-sub1: 600;

// body
$fontweight-body1: '';
$fontweight-body2: '';

// components
$fontweight-btn: '';
$fontweight-caption: '';
$fontweight-overline: '';



/* text Transform */

// headings
$texttransform-h1: '';
$texttransform-h2: '';
$texttransform-h3: '';
$texttransform-h4: '';
$texttransform-h5: '';
$texttransform-h6: '';

// subtitles
$texttransform-sub1: '';
$texttransform-sub1: '';

// body
$texttransform-body1: '';
$texttransform-body2: '';

// components
$texttransform-btn: uppercase;
$texttransform-caption: '';
$texttransform-overline: uppercase;