@mixin font-type($font) { 

  @if $font == heading1 {
    font-size: 106px;
    letter-spacing: -1.5px;
  }
  @if $font == heading2 {
    font-size: 66px;
    letter-spacing: -.5px;
  }
  @if $font == heading3 {
    font-size: 53px;
    letter-spacing: 0px;
  }
  @if $font == heading4 {
    font-size: 38px;
    letter-spacing: .25px;
  }
  @if $font == heading5 {
    font-size: 27px;
    letter-spacing: 0px;
  }
  @if $font == heading6 {
    font-size: 22px;
    letter-spacing: .15px;
  }


  // subtitle
  @if $font == subtitle1 {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .15px;
  }
  @if $font == subtitle2 {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .1px;
  }


  // body
  @if $font == body1 {
    font-size: 16px;
    letter-spacing: .5px;
  }
  @if $font == body2 {
    font-size: 14px;
    letter-spacing: .25px;
  }


  // components
  @if $font == btn {
    font-size: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }
  @if $font == captions {
    font-size: 12px;
    letter-spacing: .4px;
  }
  @if $font == overline {
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}