






/* ~~~~~ Transforms Mixins ~~~~~ */




/* Transforms Translate Inward-Outward Center */

@mixin t-translatex-pcenter {
  transform: translateX(50%);
}
@mixin t-translatey-pcenter {
  transform: translateY(50%);
}
@mixin t-translatex-ncenter {
  transform: translateX(-50%);
}
@mixin t-translatey-ncenter {
  transform: translateY(-50%);
}


/* Transforms Scale Start-End */

@mixin t-scalex-start {
  transform: scaleX(0);
}
@mixin t-scaley-start {
  transform: scaleY(0);
}
@mixin t-scalex-end {
  transform: scaleX(1);
}
@mixin t-scaley-end {
  transform: scaleY(1);
}


/* Transforms Origin Start */

@mixin t-origin-leftstart {
  @include t-scalex-start;
  transform-origin: left;
} 
@mixin t-origin-rightstart {
  @include t-scalex-start;
  transform: scaleX(0);
  transform-origin: right;
} 
@mixin t-origin-topstart {
  @include t-scaley-start;
  transform-origin: top;
} 
@mixin t-origin-bottomstart {
  @include t-scaley-start;
  transform-origin: bottom;
} 


/* Transforms Origin End */

@mixin t-origin-leftend {
  @include t-scalex-end;
  transform-origin: left;
} 
@mixin t-origin-rightend {
  @include t-scalex-end;
  transform-origin: right;
} 
@mixin t-origin-topend {
  @include t-scaley-end;
  transform-origin: top;
} 
@mixin t-origin-bottomend {
  @include t-scaley-end;
  transform-origin: bottom;
} 





/* ~~~~~ ~~~~~ */
/* ~~~~~ ~~~~~ */
/* ~~~~~ ~~~~~ */
