@use "~@/sass/styles" as styles;

// general block
.block {
  margin: 4rem auto;

  @include styles.mxs-respond(lphone) {
    margin: 2rem auto;
  }
}

// general row
.row {
  display: flex;
}

// general cols
.col {
  flex: 1 0 50%;
}