@use "~@/sass/styles" as styles;

// segment
.segment {
  &-titlegroup {
    display: inline-block;
    margin-bottom: 4rem;

    position: relative;
  }
  &--title {
    position: relative;
    z-index: 10;
    color: var(--c-dprimary);

    @include styles.mxs-respond(lphone) {
      @include styles.mxs-font-size(heading5);
    }
  }
  &--line {
    height: 40%;
    width: 110%;
    background: styles.fns-lighten(var(--c-lprimary), 20);

    position: absolute;
    bottom: 0;
  }
}